<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <title>List of Loans</title>
</head>
<body>
    <table class="table" style="width: 60rem; margin-top:10px;margin-left: 10%; padding:2% 5%; background-color:#cac6b7;">
        <thead class="thead-dark">  

            
            <th scope="col">loan_number</th>
            <th scope="col">loan_type</th>
            <th scope="col">loan_amount</th>
            <th scope="col">loan_date</th>
            <th scope="col">wallet</th>
            <th scope="col">interest_rate</th>
            <th scope="col">loan_guaranter</th>
            <th scope="col">loan_due_date</th>
            <th scope="col">loan_balance</th>
            <th scope="col">loan_term</th>
        </th>
        
        {% for loans in loans %}
        <tr>
            <td>{{loans.loan_number}}</td>
            <td>{{loans.loan_type}}</td>
            <td>{{loans.loan_amount}}</td>
            <td>{{loans.loan_date}}</td>
            <td>{{loans.wallet}}</td>
            <td>{{loans.interest_rate}}</td>
            <td>{{loans.loan_guaranter}}</td>
            <td>{{loans.loan_due_date}}</td>
            <td>{{loans.loan_balance}}</td>
            <td>{{loans.loan_term}}</td>
   </tr>
   {% endfor %}
</table>

    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js"></script>
</body>
</html>
